@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
}
li{
    list-style-type: none;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
.sidebar{
    background-color: #5C0099;
    color: white;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr 0.4fr;
    align-items: center;
}
.header{
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    grid-template-columns: 2.5fr 1fr;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1.6fr;
    grid-template-rows: repeat(3,1fr);
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    height: 25px;
    width: 500px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    margin-left: 10px;
}
.search-icon{
    height: 25px;
}
.notif{
    height: 20px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pfp1{
    height: 50px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 10px;
}
ul{
    font-size: 20px;
    display: grid;
    gap: 17px;
}
li{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
}
li>svg{
    height: 25px;
    fill: #FDC500;
    margin-left: 10px;
}
h2>svg{
    fill: #FDC500;
    height: 45px; 
}
h2{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
}